#btn{
    background-color:darkmagenta;
    background-position: fixed;
}
#play{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:xx-large;
    font-style: italic;
    text-align: center;
    text-decoration: solid;
    font-weight: bolder;
    margin: 30px;
    padding:20px;
}
.dice{
    text-align: center;
    display:inline-block;
    margin:10px;
    width:50%
}
#p1{
    font-size:large ;
    margin:20px;
    padding:10px;
}
#p2{
    font-size:large ;
    margin:20px;
    padding:10px;
}
#box{
text-align: center;
background:green;
padding:16px,25px,25px,16px;
font-size: 25px;
font-family: Arial, Helvetica, sans-serif;
color:azure;

}
#d1{
text-align: center;
}
#box2{
    text-align: center;
background:green;
padding:16px,25px,25px,16px;
font-size: 25px;
font-family: Arial, Helvetica, sans-serif;
color:azure;

}